/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}
tei-body {
  font-family: Arial, Helvetica, serif;
}
tei-interp[ana="#AFAM"] {
  font-weight: bold;
}
tei-interp[ana="#CAUC"] {
  font-style: italic;
}
tei-interp[ana="#ASLUR"] {
  text-decoration: underline;
}
tei-interp [ana="#CSLUR"] {
  font-style: bold;
  text-decoration: underline;
}
