/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}
tei-body {
  font-family: Arial, Helvetica, serif;
}
tei-interp {
  font-style: italic;
}
tei-affiliation {
  text-decoration-color: "red"
}
